body {
  font-family: "Montserrat", sans-serif;
  background-color: RGB(98, 194, 200, 0.5);
  width: 100vh;
}

.App {
  background-color: white;
  width: 60%;
  margin: 6px 60%;
  min-height: 80vh;
}

h1 {
  text-align: center;
  margin: 0;
}

.makingList {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

input {
  width: 70%;
  height: 20px;
  margin: 10px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 6px 80px;
  margin: 6px;
  border-radius: 5px;
  border-color: transparent;
  color: aliceblue;
  font-size: medium;
}

button:hover {
  filter: brightness(105%);
}

.add {
  background-color: #62c866;
}

.clean {
  background-color: grey;
}

.secondImage {
position: relative;
left: 40%;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}


